<section id="formulario">


    <form method="post">
        <input type="text" name="nombre">
        <input type="text" name="contrasena">
        <button>ingresar</button>
    </form>
</section>
<div id="msjformulario">
    {{#if error}}
    <p>usuario y/o contraseña incorrectos</p>
    {{/if}}{{#else}}
    <p>Introduci tus credenciales</p>
    {{/else}}
</div>