<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            <h1> Hola {{usuario}}, selecciona que queres modificar </h1>

        </div>
        <div class="col-2">
            <a href="/admin/login/logout" class="btn btn-sm btn-danger">Cerrar sesiòn
                <i class="fa fa-sign-out"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col-1 text-right">
        </div>
        <div class="col-2 text-right">

            <a href="/admin/organizador/novedades" class="btn btn-outline-secondary">Novedades</a>

        </div>
        <div class="col-7 text-right">       
        </div>
        <div class="col-2 text-right">
            <a href="/admin/organizador/horarios" class="btn btn-outline-danger">Horarios</a>

        </div>
    </div>
</div>